
#mainContent {
    display: inline-block;
    width:600px;
    text-align: center;
    border:solid grey 0.5px;
}

#mainContent img {
    width:200px;
    height:200px;
}

#navList {
    display: inline-block;
}

nav ul {
    list-style-type: none;
}

#friendList {
    display: inline-block;
}

#introText {
    width:600px;
    text-align: center;
}

.true {
    color:green;
}

.false {
    color:red;
}

#friendListObject {
    border: solid black 1px;

}

#friendObject {
    border-bottom: solid black 0.5px;
    padding: 10px;
}

#addFriend {
    padding: 10px;
}

.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
