.wrapper {
  display: grid;
  grid-template-columns: 50% 12%;
  grid-gap: 5px;
}

.box {
  border-radius: 5px;
  padding: 10px;
}


#mainContent {
    display: inline-block;
    text-align: center;
    border:solid grey 0.5px;
    min-width: 80%;
    min-height: 200px;
}

#mainContent img {
    width:200px;
    height:200px;
}

#mainContent #maps {
    max-width:480px;
    max-height:240px;
    width: 80%;
    height: 80%;
}

#contentWindow {
    
}

#navList {
    display: block;
}

nav ul {
    list-style-type: none;
}

#friendList {
    display: inline-block;
    min-width: 120px;
}

#introText {
    text-align: center;
}

.true {
    color:green;
}

.false {
    color:red;
}

#friendListObject {
    border: solid black 1px;

}

#friendObject {
    border-bottom: solid black 0.5px;
    padding: 10px;
}

#addFriend {
    padding: 10px;
}

#addFriendsWindow ul li p{
    max-width: 100px;
    display:inline-block;
    margin-right: 10px;
}

/* animations */

.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .60s;
}

.fade-enter-active {
  transition-delay: .50s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}
