<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Going out</title>

<!-- Our own stylesheet -->
<link href="css/style.css" rel="stylesheet">

</head>
<!-- body start -->
<body id="frontPageBody">
    <header id="introText">
        <h1>Going out web app</h1>
    </header>
<main class="wrapper">

<section id="routerWrapper">
    <aside id="navList" class="box">
    <nav>
        <ul>
            <li><router-link to="/">Home</router-link></li>
            <li><router-link to="/Profile">Profile</router-link></li>
            <li><router-link to="/CityMap">City/Map</router-link></li>
            <li><router-link to="/FindOthers">Find others</router-link></li>
            <li><router-link to="/Friends">Friends</router-link></li>
        </ul>
      </nav>
</aside>  
<section id="contentWindow" class="box">
    <transition name="fade">
      <router-view></router-view>
    </transition>
</section>
</section>

<aside id="friendList" class="box">
<button @click="show = !show">
    Toggle Friendlist
  </button>
  <transition name="slide-fade">

    <ul id="friendListObject" v-if="show">
        <li id="friendObject" v-for="item in items">
            {{item.firstName}}
        </li>
        <a id="addFriend" href="#">Add Friend</a>
    </ul>
        </transition>
</aside> 

    
</main>

<script src="js/vue.js"></script>  
<script src="js/vue-router.min.js"></script>
<script src="js/personScript.js"></script>
<script src="js/frameWorkScript.js"></script>
<script src="js/frontpageFormScript.js"></script>
<script src="js/vueRouterScript.js"></script>
    
</body>
</html>
