<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Going out</title>

<!-- Our own stylesheet -->
<link href="css/style.css" rel="stylesheet">

</head>
<!-- body start -->
<body id="frontPageBody">
    <!-- Nav include -->
<main>
<aside id="navList">
    <nav>
        <ul>
            <li><router-link to="/">Home</router-link></li>
            <li><router-link to="/Profile">Profile</router-link></li>
            <li><router-link to="/CityMap">City/Map</router-link></li>
            <li><router-link to="/FindOthers">Find others</router-link></li>
            <li><router-link to="/Friends">Friends</router-link></li>
        </ul>
      </nav>
      <router-view></router-view>
    </aside>

<aside id="friendList">
<button @click="show = !show">
    Toggle Friendlist
  </button>
  <transition name="slide-fade">

    <ul id="friendListObject" v-if="show">
        <li id="friendObject" v-for="item in items">
            {{item.firstName}}
        </li>
        <a id="addFriend" href="#">Add Friend</a>
    </ul>
        </transition>
</aside>   
    
    
</main>

<script src="js/vue.js"></script>  
<script src="js/vue-router.min.js"></script>
<script src="js/personScript.js"></script>
<script src="js/frameWorkScript.js"></script>
<script src="js/frontpageFormScript.js"></script>
<script src="js/vueRouterScript.js"></script>
    <script>function initMap() {var veb = {lat: 52.540355, lng: 13.405625};var map = new google.maps.Map(document.getElementById('map'), {zoom: 15,center: veb});var marker = new google.maps.Marker({position: veb,map: map});}</script> <script async defersrc='https://maps.googleapis.com/maps/api/js?key=AIzaSyAol_KTNiAmD0EMoWjzM_N8XMM7tt_3Nbk&callback=initMap'></script>
    
</body>
</html>
